<h1>やりたいこと登録</h1>

<%= form_with model: @want, local: true do |f| %>
  <div>
    <%= f.label :title, "やりたいこと" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :memo, "メモ" %><br>
    <%= f.text_area :memo %>
  </div>

  <div>
    <%= f.label :target_date, "目標日" %><br>
    <%= f.date_field :target_date %>
  </div>

  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>
